@{
    ViewData["Title"] = "Página de Inicio";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f7fa; 
        color: #333;
    }

    .features {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 50px 20px;
    }

    .feature {
        flex: 1;
        margin: 0 10px;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .feature h2 {
            color: #4CAF50;
            margin-bottom: 10px;
        }

        .feature p {
            font-size: 1em;
            color: #555;
            line-height: 1.6;
        }
</style>
<main role="main" class="pb-3">
    
    <div class="jumbotron text-center bg-light">
        <h1 class="display-4">Bienvenido a tu gestor de eCommerce!</h1>
        <p class="lead">La solución integral para gestionar tu tienda online.</p>
    </div>

    <div class="container">
        <hr class="my-5">
        <div class="features">
            <div class="feature">
                <h2>Gestión de Productos</h2>
                <img src="images/caja.jpg" width="200" height="200" alt="Gestión de Productos" class="img-fluid" />
                <p>Administra tu catálogo, actualiza precios y mantén todo organizado.</p>
            </div>
            <div class="feature">
                <h2>Gestión de Usuarios</h2>
                <img src="images/generica1.jpg" width="200" height="200" alt="Gestión de Usuarios" class="img-fluid" />
                <p>Controla a tus clientes y administra sus datos de manera segura.</p>
            </div>
            <div class="feature">
                <h2>Gestión de Compras</h2>
                <img src="images/generica2.png" width="200" height="200" alt="Gestión de Compras" class="img-fluid" />
                <p>Consulta y organiza las compras realizadas en tu tienda.</p>
            </div>
        </div>

     
    </div>
</main>



